/* General */

*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    background: rgb(79,163,168);
    background: linear-gradient(180deg, rgba(79,163,168,0.6) 0%, rgba(247,247,247,1) 7%) no-repeat;
}
h1{
    text-align: center;
    font-size: 2em;
}
h2{
    font-size: 1.4em;
}

/*********** Navbar ***********/
nav{
    margin: 0 auto;
    height: 8vh;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-back-home{
    text-decoration: none;
    font-size: 1.2em;
}
#nav-social-media{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-imgs{
    height: 50%;
    width: 50%;
}
#dvrpc-logo{
    display: block;
    float: right;
    padding-right: 2vw;
    border-right: 2px solid #4fa3a8;
}
#mailto{
    padding-left: 1vw;
}

/*********** Accordions***********/
.accordion-controls{
    padding: 0;
    list-style-type: none;
    margin-left: 3%;
    width: 40%;
}
.accordion{
    margin-top: 1%;
    background: rgba(79, 160, 168, 0.1);
    color: #484848;
    border-radius: 10px;
    font-size: 1.1em;
    width: 100%;
    padding: 15px;
    text-align: left;
    transition: 0.4s;
    cursor: pointer;
    outline: none;
    border: none;
}
.accordion:after{
    content: '\02795';
    float: right;
}
.accordion:hover{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.active:after{
    content: '\2212';
}
.panel{
    width: 95%;
    margin: 0 auto;
    background: #e2e2e2;
    color: #141115;
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.accordion-content-list{
    list-style-type: none;
}
.accordion-content-list:last-child{
    margin-bottom: 1%;
}
li{
    margin-top: 1%;
}
