/* General */
html{
    scroll-behavior: smooth;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    background: rgb(79,163,168);
    background: linear-gradient(180deg, rgba(79,163,168,0.6) 0%, rgba(247,247,247,1) 28%);
}
a{
    background: transparent;
    /* color options:
        grey: 607466
        light blue: rgb(82, 84, 163)
    */
    color: rgb(82, 84, 163);
}
.shadow{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}
.inactive-word{
    /* important to override the jawn */
    fill: #b4b4b4 !important;
}

/*********** Navbar ***********/
nav{
    height: 8vh;
    padding: 0 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#dvrpc-logo{
    width: 50%;
    float: right;
    margin: 25px 10px 0 0;
}

/*********** Introductory Section ***********/
#intro{
    width: 85%;
    min-height: 45vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4%;
    border-bottom: 10px solid #4fa3a8;
}
#toolkit-logo{
    width: 400px;
    height: 100%;
}
#intro-text{
    width: 60%;
    color: #414042;
    font-weight: 500;
    font-size: 1.3em;
}


/*********** Main wrapper (for padding, mostly) ***********/
#wrapper{
    width: 85%;
    margin: 0 auto;
}

/* LRP Boxes */
#lrp-boxes-container{
    margin: 5% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lrp-box:hover{
    cursor: pointer;
}
.lrp-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #4fa3a8;
    font-weight: 600;
    text-align: center;
    font-size: 1.3em;
    border-radius: 3px;
}
.lrp-box img{
    width: 95px;
    height: 115px;
}
figcaption{
    text-align: center;
    text-decoration: none;
    color: #4fa3a8;
}

/* Scroll Arrow */
#down-arrow{
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 3%;
    height: 4vw;
    width: 4vw;
    border: solid #121212;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}
#down-arrow:hover{
    border-bottom-width: 4px;
    border-right-width: 4px;
}

/* Word Cloud */
#cloud-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* wordcloud won't take up more than the allotted space left by problem statements. not sure if these  even do anything...*/
#word-cloud{
    padding-top: 4%;
    max-width: 72%;
    height: 100%;
}
g:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}
/* problem statements same width as one of the LRP boxes */
#problem-statements-wrapper{
    height: 100%;
    width: 28%;
    padding-top: 4%;
    text-align: center;
    overflow-y: auto;
}
#default-statement{
    color: #414042;
    font-size: 1.2em;
    margin: 0;
}

.accordion-controls{
    padding: 0;
    list-style-type: none;
}
.panel{
    width: 85%;
    margin: 0 auto;
    background: #e9e9e9;
    color: #141115;
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tools:last-child{
    margin-bottom: 5%;
}
.problem-statement-btn{
    width: 90%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 1.1em;
    border-radius: 10px;
    color: #484848;
    border: none;
    background: rgba(79, 160, 168, 0.1);
    padding: 3%;
}
.problem-statement-btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 45%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgba(79, 160, 168, 0.1);
    border-left: 0;
    border-bottom: 0;
    margin-top: -3px;
    margin-left: -20px;
}
.problem-statement-btn:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.tools{
    display: block;
    margin-top: 5%;
    text-align: left;
}
.tools:hover{
    cursor: pointer;
}

/* Contact */
#contact{
	background-color: #ddd;
	padding: 7px 7px 7px 3%;
	font-style: italic;
}

/* Footer */
footer{
    height: 25vh;
    width: 100%;
    padding: 1% 15%;
    background: #545454;
    color: #f7f7f7;
    display: flex;
    align-items: center;
}
footer a{
    color: #f7f7f7;
}
#footer-logo{
    height: 30px;
    width: 85px;
}
#footer-words{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
#footer-links{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
}
#footer-social-wrapper{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer-social{
    height: 19px;
    width: 21px;
}

/* Media Queries */
@media all and (min-width: 1400px){
    #intro-text{
        width: 70%;
    }
}
@media all and (max-width: 700px){
    .nav-imgs{
        width: 70%;
        height: 70%;
    }
    #intro{
        flex-direction: column;
        /* maybe this instead 
        flex-direction: column-reverse */
        align-items: center;
    }
    #toolkit-logo{
        width: 250px;
    }
    #intro-text{
        width: 97%;
    }
    #lrp-boxes-container{
        flex-direction: column;
    }
    .lrp-box{
        width: 60%;
        margin-bottom: 3%;
    }
    #cloud-container{
        flex-direction: column-reverse;
    }
    #problem-statements-wrapper{
        width: 100%;
        height: 25%;
    }
    .panel{
        width: 85%;
    }
    footer{
        font-size: 0.7em;
    }
}