/* General */
body{
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    color: #141115;
    background: #f2f2f2;
    background: linear-gradient(180deg, rgba(79,163,168,0.6) 0%, rgb(242, 242, 242) 12%);
    /* go down to 6% for the psuedo-navbar effect */
    /* 12% for the old, blended in effect */
}
.shadow{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}
/* standard h1 and h2 colors - will change */
h1{
    color: #032b43;
    /* color: #29335c; */
    /* color: #141115; */
    /* color: #4fa3a8; */
    font-size: 2em;
}
h2{
    color: #373f51;
    font-size: 1.4em;
}
a{
    color: rgb(82, 84, 163);
}

/*********** Navbar ***********/
nav{
    height: 8vh;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-back-home{
    text-decoration: none;
    font-size: 1.2em;
}
#dvrpc-logo{
    width: 50%;
    float: right;
}

/* Header */
#toolpage-header-wrapper{
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#toolpage-header{
    text-align: left;
    margin: 3% 0;
}
#toolpage-header-icons{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
.icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0 3%;
}


/* Main Content */
#toolpage-wrapper{
    margin: 0 12%;
}
/* @todo: figure out these dimensions once theres an idea of what the media is */
#toolpage-media{
    display: block;
    float: left;
    margin-left: 0;
}
#toolpage-img{
    width: 500px;
    max-width: 100%;
}
figcaption{
    text-align: center;
    font-weight: 600;
}
/* styles taken from subpage.css */
#toolpage-hr{
    width: 97%;
    height:0;
    margin: 0 auto;
    margin-top: 3%;
    box-sizing:content-box;
    border:0;
    border-top:1px solid #ddd;
    clear:both;
}

/* More Info Section */
#toolpage-more-info{
    display: flex;
    margin: 5% 3%;
    justify-content: space-between;
}
.toolpage-links-columns{
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    border-radius: 3px;
}
.toolpage-resources-header{
    background: #d8dbe2;
    margin: 0;
    padding: 18px 2%;
    margin-bottom: 3%;
}
#toolpage-ordinances-and-guidelines {
    width: 38%;
}
.toolpage-links{
    margin-bottom: 3%;
    padding: 0 5%;
}


/* See Also  */
#see-also-header{
    text-align: center;
    margin: 3% 0 2% 0;
}
#see-also-list{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5%;
    background: #fff;
    padding: 0 0 0 2%;
    border-radius: 3px;
}
.see-also-items{
    padding: 2% 0;
    width: 100%;
    border-bottom: 1px solid #d8dbe2;
}

/* Contact */
#contact{
	background-color: #ddd;
	padding: 7px 7px 7px 3%;
	font-style: italic;
}

/* Footer */
footer{
    height: 25vh;
    padding: 1% 15%;
    background: #545454;
    color: #f7f7f7;
    display: flex;
    align-items: center;
}
#footer-logo{
    height: 30px;
    width: 85px;
}
#footer-words{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
#footer-links{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
}
.footer-social{
    height: 19px;
    width: 21px;
}
footer a{
    color: #f7f7f7;
}

/* Media Queries */
@media all and (max-width: 800px){
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.2em;
    }
    #dvrpc-logo{
        width: 45%;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    #toolpage-header-wrapper{
        padding: 3%;
    }
    #toolpage-media{
        float: none;
        margin: 5% 0;
    }
    #toolpage-img{
        display: block;
        margin: 0 auto;
    }
    #toolpage-text-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    #toolpage-more-info{
        flex-direction: column;
        align-items: center;
    }
    .toolpage-links-columns, #toolpage-ordinances-and-guidelines{
        width: 90%;
        margin-bottom: 3%;
    }
    #see-also-list{
        width: 85%;
    }
}
@media all and (max-width: 600px) {
    #toolpage-img{
        width: 300px;
    }
}