/* General */

*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    background: #f4f4f4;
}
h1{
    text-align: center;
    font-size: 2.1em;
    color: #4fa3a8;
    letter-spacing: 2px;
    margin: 0 0 1% 0;
}
h2{
    margin: 0;
    font-size: 1.6em;
}
a{
    background: transparent;
    color: #404b53;
}
a:visited{
    color: #5D7179;
}
.enviro-bold{
    color: #5a732d;
}
.equity-bold{
    color: #582267
}
.econ-bold{
    color: #bd2556;
}
.trans-bold{
    color: #b15817;
}
.comm-bold{
    color: #006ba6;
}

/*********** Navbar ***********/
nav{
    height: 9vh;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(79, 163, 168);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
#nav-back-home{
    text-decoration: none;
    font-size: 1.2em;
    color: #f2f2f2;
}
#dvrpc-logo{
    width: 70%;
    float: right;
}

/********* Intro Section **********/
#intro-section {
    margin: 4% auto;
}
#intro-text{
    font-size: 1.2em;
    width: 63%;
    margin: 0 auto;
}


hr {
    height: 0;
    margin: 0 auto;
    box-sizing: content-box;
    border: 0;
    border-top: 1px solid #ddd;
    clear: both;
}

/************** Main **************/
main{
    padding: 3% 0;
    background: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.toolkit-group{
    width: 90%;
    margin-bottom: 6%;
    display: flex;
    justify-content: space-around;
}
.toolkit-group:last-child{
    margin-bottom: 0;
}
.toolkit-text-wrapper, .toolkit-accordion-wrapper{
    width: 40%;
}
.toolkit-title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 3%;
}
.toolkit-group-description{
    font-size: 1.1em;
}
#share-toolkit{
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
    background: #f4f4f4;
    display: flex;
    justify-content: space-around;
}
#share-toolkit-title{
    margin: 0;
    color: #4fa3a8;
}
.share-text-wrapper{
    width: 40%;
}
#share-toolkit a{
    width: 40%;
}
#brochure-figure{
    margin: 0;
}
#brochure-img{
    width: 40%;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
figcaption{
    width: 41%;
}


/*********** Accordions ***********/
.accordion-controls{
    padding: 0;
    list-style-type: none;
    margin-left: 3%;
    width: 100%;
    margin: 0 auto;
}
.accordion{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 2px;
    background: rgba(79, 160, 168, 0.1);
    color: #484848;
    border-radius: 7px;
    font-size: 1em;
    width: 100%;
    padding: 7px 15px;
    text-align: left;
    transition: 0.4s;
    cursor: pointer;
    outline: none;
    border: none;
}
.accordion:before{
    content: '+';
    float: left;
    padding-right: 10px;
    font-size: 1.8em;
    font-weight: 900;
}
.Environment-accordion{
    color: #5a732d;
    background: #eff5e6;
}
.Equity-accordion{
    color: #582267;
    background: #ecdfef;
}
.Economy-accordion{
    color: #bd2556;
    background: #f8e4ea;
}
.Transportation-accordion{
    color: #b15817;
    background: #fbeee5;
}
.Livable-accordion{
    color: #006ba6;
    background: #ddedf6;
}
.accordion:hover{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.active{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.active:before{
    content: '\2212';
    padding-right: 10px;
}
.panel{
    width: 100%;
    margin: 0 auto;
    background: #f4f4f4;
    color: #141115;
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.accordion-content-list{
    list-style-type: none;
    padding: 0;
}
.accordion-content-list li{
    margin: 3% 0;
}


/* Contact */
#contact{
	background-color: #ddd;
	padding: 7px 7px 7px 3%;
	font-style: italic;
}


/********* Footer ********/
footer{
    height: 250px;
    width: 100%;
    padding: 4% 15.5%;
    background: #636363;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
}
footer a{
    color: #f7f7f7;
}
address{
    font-style: normal;
}
#footer-logo{
    width: 85px;
}
#footer-contact-wrapper{
    align-self: center;
}
#footer-contact-wrapper h3{
    padding-bottom: 5px;
    margin: 0;
    letter-spacing: 0.1rem;
}
#footer-social-wrapper{
    display: flex;
}
.vr{
    display: block;
    border-right: 1px solid #f7f7f7;
    margin: 0 3%;
}
.footer-social{
    padding: 0 5px;
}
.vr, .footer-social{
    height: 20px;
}
#email-icon{
    height: 18px;
}
.footer-social-link{
    align-self: center;
}



/******** Media Queries ********/
@media all and (min-width: 1400px){
    #intro-text{
        width: 50%;
    }
}
@media all and (max-width: 800px){
    body{
        font-size: 14px;
    }
    nav{
        position: sticky;
        top: 0;
        height: 7vh;
    }
    h1{
        letter-spacing: 1px;
    }
    #dvrpc-logo{
        width: 45%;
    }
    #intro-section{
        margin: 6% 3%;
    }
    #intro-text{
        font-size: 1.2em;
        width: 94%;
    }
    main{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .toolkit-title-wrapper{
        align-items: center;
    }
    .toolkit-group{
        margin-bottom: 10%;
        flex-direction: column;
    }
    main:last-chid{
        margin-bottom: 0;
    }
    .toolkit-text-wrapper, .toolkit-accordion-wrapper{
        width: 100%;
        margin: 0 auto;
    }
    #share-toolkit{
        padding: 4% 0;
        justify-content: space-between;
    }
    .share-text-wrapper, #share-toolkit a{
        width: 45%;
    }
    #brochure-img{
        width: 44%;
    }
    figcaption{
        width: 100%;
    }
    footer{
        padding: 10% 0;
        flex-direction: column;
        align-items: center;
        height: 300px;
    }
    #footer-logo{
        display: block;
        width: 65px;
        margin: 0 auto;
    }
    #footer-words, #footer-contact-wrapper{
        width: 72%;
    }
    #footer-words{
        margin-bottom: 6%;
    }
    #footer-contact-wrapper{
        text-align: center;
    }
    .vr, .footer-social{
        height: 15px;
    }
    #email-icon{
        height: 14px;
    }
}